body,html{
  margin: 0px 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content{
  position: absolute;
  height: 800px;
  width: 1000px;
  text-align: center;
  display: inline-flex;
  top: 10%;
  left: 15%;
  border: 1px solid gray;
  padding: 20px 20px;
}
.content .left{
  width: 300px;
  padding-right: 30px;
}
.content .left .your_name{
  font-size: 25px; font-weight: bold;
}
.content .left .img img{
  height: 230px;
  width: 230px;
  border: 2px solid blue;
  border-radius: 50%;
}
.content .right{
  width: 800px;
}
.content .right hr{
  color:aqua;
  font-weight: 30px;
}
.content .right .right__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;

}
.content .right .right__title
{
  font-size: 32px; font-weight: bold;
  padding: 0px 0px;
}
.content .right .right__content .right__content__left{
  width: 48%;
  border: 2px solid gray ;
  background-color: honeydew;
  margin-left: 2%;
  margin-bottom: 3%;
  overflow: hidden;

}
.content .right .right__content .right__content__right{
  width: 47%;
  border: 2px solid #e7e7e7;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-radius: 2px;
}
.content .right .right__content__left p{
   font-weight: bold;
}
.content .right .right__content__right p{
  font-weight: bold;
}
.content .right .intro-myself__content__line {
  
  margin: auto;
  position: relative;
  margin-top: 0.5rem;
}
.content .right .intro-myself__content__line  .line {
  width: 100%;
  height: 0.5px;
  border-bottom: 3px #1f76c6 solid;
}
.content .right .intro-myself__content__line  .circle {
  position: absolute;
  top: -2px;
  height: 8px;
  width: 8px;
  background-color: #1f76c6;
  border-radius: 50%;
}
.content .right .intro-myself__content__line  .left {
 left:0;
}
.content .right .intro-myself__content__line  .right {
  right: 0;
}